*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quiz-container{
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px  0 black;
    position: relative;
}
.quiz-question{
    text-align: center;
    padding: 1.5rem;
}
ul{
    margin-left: 1.5rem;
    list-style:none;
}
li{
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding: 5px;
}
#submit{
    background-color: gold;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    border:none;
    border-radius:0 0 5px 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
}
#submit:hover{
    background-color: goldenrod;
}
